{% extends 'header.html' %}
{% block content %}
    <div class="container">
        <form class="row g-3 my-3" method="post" action="">
            {{ form.csrf_token }}
            <div class="col-auto">
                {{ form.isin.label(class_='form-label') }}
            </div>
            <div class="col-auto">
                {{ form.isin( size=12, class_='form-control' ) }}
            </div>
            <div class="col-auto">
                {{ form.submit(class_='btn btn-primary mb-3') }}
            </div>
            <div class="col-auto">
                {% if form.isin.errors %}
                    <ul class="errors">
                        {% for error in form.isin.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </form>

        <div class="row my-3">
            <div class="col-auto">
                <a href="{{ url_for('routes.get_all_green_share') }}" type="button" class="btn btn-danger">all
                    fingreen shares</a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Share Listing</h2>
            <div class="row">
                {% for share in shares %}
                    <div class="col-md-6">
                        <div class="card text-bg-light mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href={{ share.website }}>{{ share.name }} {{ share.country }}</a>
                                    {% if share.large_cap == true %}
                                        Large Cap
                                    {% else %}
                                        Small Mid Cap
                                    {% endif %}
                                    {% if share.green == true %}
                                        <span style="float:right;"><i class="bi bi-check-circle text-success"></i></span>
                                    {% endif %}
                                </h5>
                                <p class="card-subtitle mb-2 text-body-secondary">
                                    <a data-bs-toggle="collapse" href="#{{ share.id }}" role="button"
                                       aria-expanded="false"
                                       aria-controls="{{ share.id }}">{{ share.short_description_de }}</a>
                                </p>
                                <div class="card-text collapse" id="{{ share.id }}">
                                    <p class="card-text">{{ share.long_description_de }}</p>
                                </div>
                                <p class="card-text">{{ share.sector }} / {{ share.branch }}</p>
                                <div class="container">

                                    {% if share.market_capitalization %}
                                        <div class="row m-2">
                                            <div class="col text-start"> MarketCap:</div>
                                            <div class="col text-start">{{ share.market_capitalization|currencyformat('EUR') }}</div>
                                            <div class="col"></div>
                                        </div>
                                    {% endif %}
                                    {% if share.ebit_margin %}
                                        {{ valuePoint('ebit margin', share.ebit_margin['value'], share.ebit_margin['point'], '%') }}
                                    {% endif %}
                                    {% if share.return_equity %}
                                        {{ valuePoint('return on equity ly', share.return_equity['value'], share.return_equity['point'], '%') }}
                                    {% endif %}
                                    {% if share.equity_ratio_in_percent %}
                                        {{ valuePoint('equity ratio', share.equity_ratio_in_percent['value'], share.equity_ratio_in_percent['point'], '%') }}
                                    {% endif %}
                                    {% if share.price_earnings_ratio_5y %}
                                        {{ valuePoint('price_earnings_ratio 5y', share.price_earnings_ratio_5y['value'], share.price_earnings_ratio_5y['point']) }}
                                    {% endif %}
                                    {% if share.price_earnings_ratio_ay %}
                                        {{ valuePoint('price_earnings_ratio ay', share.price_earnings_ratio_ay['value'], share.price_earnings_ratio_ay['point']) }}
                                    {% endif %}
                                    {% if share.profit_growth %}
                                        {{ valuePoint('profit Growth', share.profit_growth['value'], share.profit_growth['point']) }}
                                    {% endif %}
                                </div>

                            </div>
                            <div class="card-footer">
                                <p class="card-text">symbol: {{ share.symbol }}, wkn: {{ share.wkn }}</p>
                                <p class="card-text"><a href="{{ share['onvista_url'] }}" target="_blank">onvista</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro valuePoint(name, value, point, unit) %}
    <div class="row m-2 {% if point == 1 %} text-success {% elif point == -1 %} text-danger {% endif %}">
        <div class="col text-start">{{ name }}:</div>
        {% if value is number %}
            <div class="col text-start">{{ "%.2f"|format(value) }} {{ unit }}</div>
        {% else %}
            <div class="col text-start">{{ value }} {{ unit }}</div>
        {% endif %}
        <div class="col text-end">{{ point }}</div>
    </div>
{% endmacro %}