{% extends 'header.html' %}
{% block content %}
    <div class="container">
        <form class="row g-3 my-3" method="post" action="">
            {{ form.csrf_token }}
            <div class="col-auto">
                {{ form.isin.label(class_='form-label') }}
            </div>
            <div class="col-auto">
                {{ form.isin( size=12, class_='form-control' ) }}
            </div>
            <div class="col-auto">
                {{ form.submit(class_='btn btn-primary mb-3') }}
            </div>
            <div class="col-auto">
                {% if form.isin.errors %}
                    <ul class="errors">
                        {% for error in form.isin.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </form>

        <div class="row my-3">
            <div class="col-auto">
                <a href="{{ url_for('routes.get_all_green_share') }}" type="button" class="btn btn-danger">all
                    fingreen shares</a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <h2>Share Listing</h2>
            <div class="row">
                {% for share in shares %}
                   {% include 'share.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



{% macro totalPoints(point, value) %}
    {% set number = point | int %}
    <div class="row m-2 {% if number >= 4 %} text-success {% else %} text-danger {% endif %}">
        <div class="col text-start">Total Points:</div>
            <div class="col text-start">{{ value }}/13</div>
            <div class="col text-end">{{ point }}</div>
    </div>
{% endmacro %}

{% macro value(share_value, name='', unit = '') -%}
    {% if share_value %}
        {{ valuePoint(name, share_value['value'], share_value['point'], unit) }}
    {% else %}
        {{ valuePoint(name, '-', '-', '') }}
    {% endif %}
{%- endmacro  %}

{% macro valuePoint(name, value, point, unit) %}
    {% set number = point | int %}
    <div class="row m-2 {% if number > 0 %} text-success {% elif number < 0 %} text-danger {% endif %}">
        <div class="col text-start">{{ name }}:</div>
        {% if value is number %}
            <div class="col text-start">{{ "%.2f"|format(value) }} {{ unit }}</div>
        {% else %}
            <div class="col text-start">{{ value }} {{ unit }}</div>
        {% endif %}
        <div class="col text-end">{{ point }}</div>
    </div>
{% endmacro %}