{% extends 'header.html' %}
{% block content %}
    <div class="container">
        <form class="row g-3 my-3" method="post" action="">
            {{ form.csrf_token }}
            <div class="col-auto">
                {{ form.isin.label(class_='form-label') }}
            </div>
            <div class="col-auto">
                {{ form.isin( size=12, class_='form-control' ) }}
            </div>
            <div class="col-auto">
                {{ form.submit(class_='btn btn-primary mb-3') }}
            </div>
            <div class="col-auto">
                {% if form.isin.errors %}
                    <ul class="errors">
                        {% for error in form.isin.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </form>

        <div class="row my-3">
            <div class="col-auto">
                <a href="{{ url_for('routes.get_all_fingreen_share') }}" type="button" class="btn btn-danger">all fingreen shares</a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% for share in shares %}
            <div class="row my-3">
                <div class=" col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://{{ share.website }}">{{ share.name }}</a></h5>
                            <div class="card-text">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h4 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne_{{ share.wkn }}" aria-expanded="false"
                                                    aria-controls="collapseOne_{{ share.wkn }}">
                                                {{ share.description }}
                                            </button>
                                        </h4>
                                        <div id="collapseOne_{{ share.wkn }}" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample" style="">
                                            <div class="accordion-body">{{ share.long_description_de }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">WKN: ({{ share.wkn }} {{ share.country }})</li>
                            <li class="list-group-item">ISIN: {{ share.isin }}</li>
                        </ul>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <a href="{{ share.fingreen_detail_page }}" class="card-link">Fingreen detail
                                        page</a>
                                </div>
                                <div class="column-gap-3 col-1">
                                    <a href="{{ url_for('routes.index') }}?isin={{ share.isin }}" type="button"
                                       class="btn btn-danger">getOnvistaData</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
